In [7]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns

In [8]:
plt.rcParams['font.family'] = 'Malgun Gothic'

In [14]:
os.getcwd()

'C:\\Users\\poscoedu_ph\\AI 기초'

In [9]:
df = pd.read_csv('data/hcr.csv',encoding='cp949')
df.head()

,SLAB폭,SLAB길이,SLAB중량,SLAB최초저장위치,연주구분,단위내순서,성분AS,성분C,성분B,성분CA,...,정정_장입LT,장입온도,전저장위치코드,발지야드포인트,스카핑여부,품명,롤단위지정구분,성분V,월구분,정정_압연작업지시LT
0,1570,9970,30.60,3GC,2연주,14.0,0.004,0.0016,0,0,...,8.0,571,3GB,4C,0,FH,NaN,0.002,4,-6.4
1,1020,11860,23.65,2GA,2연주,79.0,0.005,0.0433,0,0,...,13.4,351,3GB,5A,0,HR,D,0.000,10,3.2
2,1500,11810,34.63,3GC,2연주,21.0,0.005,0.0020,0,2,...,7.5,460,3GB,4C,0,CR,F,0.002,4,-7.0
3,1570,9430,28.94,2GC,2연주,17.0,0.004,0.0016,0,0,...,7.8,488,3GB,4C,0,CR,NaN,0.002,4,-6.6
4,1500,11870,34.81,2GC,2연주,25.0,0.004,0.0023,0,0,...,7.2,335,5GG,4C,0,EG,F,0.002,4,-7.5

In [15]:
df.describe(include='number')

,SLAB폭,SLAB길이,SLAB중량,단위내순서,성분AS,성분C,성분B,성분CA,성분CU,성분CR,...,성분TOTALAL,성분SOLAL,평균TS,전단_정정LT,정정_장입LT,장입온도,스카핑여부,성분V,월구분,정정_압연작업지시LT
count,113367.000000,113367.000000,113367.000000,113348.000000,113367.000000,113367.000000,113367.000000,113367.000000,113367.000000,113367.000000,...,113367.000000,113367.000000,113349.000000,113367.000000,113367.000000,113367.000000,113367.000000,113367.000000,113367.000000,113367.000000
mean,1245.324565,10003.416726,24.296319,42.209549,0.005251,0.050292,1.113702,0.568993,0.018519,0.020830,...,0.027773,0.026294,361.314798,1.007894,9.409730,478.433848,0.105004,0.000495,6.607337,-0.262513
std,162.968327,1424.983418,4.864720,25.927490,0.000963,0.044670,3.560982,2.770710,0.015485,0.015112,...,0.006527,0.006446,76.786241,4.905946,17.629108,134.516622,0.306560,0.000759,3.498757,17.696264
min,900.000000,5000.000000,10.090000,1.000000,0.000000,0.001000,0.000000,0.000000,0.005000,0.010000,...,0.010000,0.008000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,1.000000,-16.100000
25%,1110.000000,9000.000000,20.770000,20.000000,0.005000,0.031100,0.000000,0.000000,0.012000,0.020000,...,0.023000,0.022000,320.000000,0.000000,5.800000,377.000000,0.000000,0.000000,4.000000,-3.700000
50%,1260.000000,10040.000000,23.610000,40.000000,0.005000,0.039200,0.000000,0.000000,0.015000,0.020000,...,0.027000,0.026000,336.000000,0.000000,8.600000,480.000000,0.000000,0.000000,7.000000,-0.900000
75%,1360.000000,11380.000000,27.750000,61.000000,0.006000,0.060200,0.000000,0.000000,0.020000,0.020000,...,0.032000,0.030000,418.000000,0.000000,12.100000,582.000000,0.000000,0.001000,10.000000,2.300000
max,1570.000000,11880.000000,35.000000,142.000000,0.008000,0.212500,21.000000,124.000000,0.300000,0.420000,...,0.061000,0.059000,608.000000,678.400000,4026.900000,893.000000,1.000000,0.005000,12.000000,4011.200000

In [17]:
df.describe(include='object')
# 전체 데이터에 대한 include는 include='all' 하면 됨

,SLAB최초저장위치,연주구분,재료번호,SLAB번호,HCR실적구분,전저장위치코드,발지야드포인트,품명,롤단위지정구분
count,113195,113367,113367,113367,113367,113342,113365,113367,57427
unique,20,3,113367,113364,2,5,4,10,5
top,2GA,2연주,HQD093840,SQ63808 071,H,5GG,5A,HR,D
freq,49255,113161,1,2,101808,60258,72498,46833,21382

In [11]:
df.shape

(113367, 34)

In [12]:
df.dtypes

SLAB폭            int64
SLAB길이           int64
SLAB중량         float64
SLAB최초저장위치      object
연주구분            object
단위내순서          float64
성분AS           float64
성분C            float64
성분B              int64
성분CA             int64
성분CU           float64
성분CR           float64
성분MO           float64
성분MN           float64
성분N            float64
성분P            float64
성분S            float64
성분TOTALAL      float64
성분SOLAL        float64
평균TS           float64
전단_정정LT        float64
재료번호            object
SLAB번호          object
HCR실적구분         object
정정_장입LT        float64
장입온도             int64
전저장위치코드         object
발지야드포인트         object
스카핑여부            int64
품명              object
롤단위지정구분         object
성분V            float64
월구분              int64
정정_압연작업지시LT    float64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113367 entries, 0 to 113366
Data columns (total 34 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SLAB폭        113367 non-null  int64
 1   SLAB길이       113367 non-null  int64
 2   SLAB중량       113367 non-null  float64
 3   SLAB최초저장위치   113195 non-null  object
 4   연주구분         113367 non-null  object
 5   단위내순서        113348 non-null  float64
 6   성분AS         113367 non-null  float64
 7   성분C          113367 non-null  float64
 8   성분B          113367 non-null  int64
 9   성분CA         113367 non-null  int64
 10  성분CU         113367 non-null  float64
 11  성분CR         113367 non-null  float64
 12  성분MO         113367 non-null  float64
 13  성분MN         113367 non-null  float64
 14  성분N          113282 non-null  float64
 15  성분P          113367 non-null  float64
 16  성분S          113367 non-null  float64
 17  성분TOTALAL    113367 non-null  float64
 18  성분SOLAL      113367 non-null  float64
 19  평균TS         113349 non-null  float64
 20  전단_정정LT      113367 non-null  float64
 21  재료번호         113367 non-null  object
 22  SLAB번호       113367 non-null  object
 23  HCR실적구분      113367 non-null  object
 24  정정_장입LT      113367 non-null  float64
 25  장입온도         113367 non-null  int64
 26  전저장위치코드      113342 non-null  object
 27  발지야드포인트      113365 non-null  object
 28  스카핑여부        113367 non-null  int64
 29  품명           113367 non-null  object
 30  롤단위지정구분      57427 non-null   object
 31  성분V          113367 non-null  float64
 32  월구분          113367 non-null  int64
 33  정정_압연작업지시LT  113367 non-null  float64
dtypes: float64(18), int64(7), object(9)
memory usage: 29.4+ MB

In [18]:
df.columns

Index(['SLAB폭', 'SLAB길이', 'SLAB중량', 'SLAB최초저장위치', '연주구분', '단위내순서', '성분AS',
       '성분C', '성분B', '성분CA', '성분CU', '성분CR', '성분MO', '성분MN', '성분N', '성분P',
       '성분S', '성분TOTALAL', '성분SOLAL', '평균TS', '전단_정정LT', '재료번호', 'SLAB번호',
       'HCR실적구분', '정정_장입LT', '장입온도', '전저장위치코드', '발지야드포인트', '스카핑여부', '품명',
       '롤단위지정구분', '성분V', '월구분', '정정_압연작업지시LT'],
      dtype='object')

In [22]:
numeric_vars = []

# 수치형 데이터를 아래와 같이 할 수 도 있지만 한줄로도 가능
# for col in df.columns:
#     if df[col].dtype != 'object':
#         numeric_vars.append(col)
#df = df[numeric_vars]

#위 for, if 대신 아래와 같이 사용 할 수 있다.
df = df.select_dtypes(include='number')
df_obj = df.select_dtypes(include='object')
df

,SLAB폭,SLAB길이,SLAB중량,단위내순서,성분AS,성분C,성분B,성분CA,성분CU,성분CR,...,성분TOTALAL,성분SOLAL,평균TS,전단_정정LT,정정_장입LT,장입온도,스카핑여부,성분V,월구분,정정_압연작업지시LT
0,1570,9970,30.60,14.0,0.004,0.0016,0,0,0.009,0.01,...,0.029,0.026,255.0,0.0,8.0,571,0,0.002,4,-6.4
1,1020,11860,23.65,79.0,0.005,0.0433,0,0,0.017,0.02,...,0.022,0.021,340.0,0.0,13.4,351,0,0.000,10,3.2
2,1500,11810,34.63,21.0,0.005,0.0020,0,2,0.008,0.02,...,0.029,0.026,253.0,0.0,7.5,460,0,0.002,4,-7.0
3,1570,9430,28.94,17.0,0.004,0.0016,0,0,0.009,0.01,...,0.029,0.026,252.0,0.0,7.8,488,0,0.002,4,-6.6
4,1500,11870,34.81,25.0,0.004,0.0023,0,0,0.008,0.02,...,0.029,0.028,253.0,0.0,7.2,335,0,0.002,4,-7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113362,1250,6090,14.88,42.0,0.006,0.1155,0,0,0.016,0.02,...,0.023,0.021,421.0,0.0,7.1,631,0,0.001,10,-2.4
113363,1250,6070,14.83,41.0,0.006,0.1155,0,0,0.016,0.02,...,0.023,0.021,423.0,0.0,7.2,599,0,0.001,10,-2.4
113364,1340,8140,21.32,23.0,0.007,0.1163,0,0,0.015,0.02,...,0.020,0.019,417.0,0.0,8.3,605,0,0.001,10,-0.7
113365,1250,8500,20.77,31.0,0.006,0.1158,0,0,0.019,0.02,...,0.035,0.033,422.0,0.0,7.2,649,0,0.000,10,-2.0
113366,1250,8500,20.77,32.0,0.006,0.1158,0,0,0.019,0.02,...,0.035,0.033,421.0,0.0,7.5,450,0,0.000,10,-1.7

In [24]:
df.isnull().sum()

SLAB폭           0
SLAB길이          0
SLAB중량          0
단위내순서          19
성분AS            0
성분C             0
성분B             0
성분CA            0
성분CU            0
성분CR            0
성분MO            0
성분MN            0
성분N            85
성분P             0
성분S             0
성분TOTALAL       0
성분SOLAL         0
평균TS           18
전단_정정LT         0
정정_장입LT         0
장입온도            0
스카핑여부           0
성분V             0
월구분             0
정정_압연작업지시LT     0
dtype: int64

In [26]:
df.dropna(inplace=True)
df.isnull().sum()

SLAB폭          0
SLAB길이         0
SLAB중량         0
단위내순서          0
성분AS           0
성분C            0
성분B            0
성분CA           0
성분CU           0
성분CR           0
성분MO           0
성분MN           0
성분N            0
성분P            0
성분S            0
성분TOTALAL      0
성분SOLAL        0
평균TS           0
전단_정정LT        0
정정_장입LT        0
장입온도           0
스카핑여부          0
성분V            0
월구분            0
정정_압연작업지시LT    0
dtype: int64

In [27]:
df.shape

(113263, 25)